.navbar-dark {
    background-color: #4e4e4e;
    border-color: #AA0000;
    border-radius: .5em;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #FFF;
}

.navbar-dark .navbar-nav > li > a {
    color: #FFF;
}

h1 {
    color: #C9C9C9;
}

.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
    background-color: #AA0000;
}

.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #AA0000;
}

.navbar-dark .navbar-text {
    color: #FFF;
}

.navbar-dark .navbar-toggle {
    border-color: #AA0000;
}

.navbar-dark .navbar-toggle:hover,
.navbar-dark .navbar-toggle:focus {
    background-color: #AA0000;
}

.navbar-dark .navbar-toggle .icon-bar {
    background-color: #FFF;
}
